* {
  box-sizing: border-box;
}

body {
  padding: 15px 0;
  background: #f2f5fa;
  color: #161f36;
  font-family: sans-serif;
}

.green {
  color: green;
}

.red {
  color: red;
}

.loading {
  display: none;
  text-align: center;
}

.coins {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coinContainer {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 16px;
  padding: 5px 40px;
}

.coinHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.coinToFiatSelect {
  margin-left: 20px;
}

.coinName {
  margin: 0;
  font-size: 40px;
}

.coinName span {
  margin-left: 16px;
  color: #adb6cc;
  font-size: 30px;
}

.coinInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  padding: 0 10px;
  background-color: #fff;
}

.coinInfoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
  padding: 20px 10px;
}

.coinInfoBlock:first-of-type {
  width: 35%;
}

.coinInfoBlock .title {
  margin: 0 0 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.coinInfoBlock .price {
  font-size: 24px;
}

/* coinsTable */

.coinsTable {
  width: 100%;
  max-width: 960px;
}

.coinsTable .thead {
  display: flex;
  flex-direction: row;
}

.coinsTable .th {
  cursor: pointer;
}

.coinsTable .th,
.coinsTable .td {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-width: 200px;
  height: 60px;
  background-color: #fff;
  text-align: center;
}

.coinsTable .tr {
  display: flex;
  flex-direction: row;
}

.sortingIcon {
  position: relative;
  display: inline-block;
  width: 16px;
}

.sortingIcon:before,
.sortingIcon:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 0.3;
}

.sortingIcon:before {
  top: 50%;
  margin-top: -6px;
  border-width: 0 4px 4px;
  border-color: transparent transparent #161f36;
}

.sortingIcon:after {
  top: 50%;
  margin-top: 2px;
  border-width: 4px 4px 0;
  border-color: #161f36 transparent transparent;
}

@media (max-width: 900px) {
  .coinInfo {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }

  .coinInfoBlock {
    width: 100% !important;
    padding: 14px 10px;
  }
}
